name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
    - name: Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        
    - name: Build image
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: nluongo/zamboni:latest

  test:
    runs-on: ubuntu-latest
    strategy:
      # Runs both environments simultaneously
      matrix:
        db-type: [sqlite, postgres]
    
    # Only spin up Postgres for the postgres matrix leg
    services:
      postgres:
        image: ${{ matrix.db-type == 'postgres' && 'postgres:15' || '' }}
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: mysecretpassword
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      
      - name: Set Connection String
        run: |
          if [ "${{ matrix.db-type }}" == "postgres" ]; then
            echo "DATABASE_URL=postgres://postgres:mysecretpassword@localhost:5432/postgres" >> $GITHUB_ENV
          else
            echo "DATABASE_URL=sqlite:///data/zamboni.db" >> $GITHUB_ENV
          fi

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install pytest

    - name: Run tests
      run: pytest tests/

    - name: Run Ruff
      run: ruff check src/ tests/
